body {
	margin: 0;
	padding: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333;
}

h1 {
	font-size: 3em;
}

h1 em {
	color: #f8f8f8;
	font-style: normal;
}

h2, h3 {
	display: inline-block;
	margin: 2em 0 0.5em;
	padding: 2px;
	font-size: 1em;
	background: #f8f8f8;
}

h1, h2, h3 {
	font-family: "Helvetica Neue";
	font-weight: 500;
}

ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}