body {
	overflow-x: hidden;
	margin: 0;
	padding: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 3em;
}

h2, h3 {
	display: inline-block;
	margin: 1.5em 0 0.5em;
	padding-left: 10px;
	font-size: 1.5em;
	border-left: 12px solid #f8f8f8;
}

h1, h2, h3 {
	font-family: "Helvetica Neue";
	font-weight: 500;
}

ul {
	margin: 1em 0 1.5em 1.2em;
	padding: 0;
}

li {
	line-height: 1.3em;
}

section {
	float: left;
}

#banner {
	background: #f8f8f8 url(../images/falling.gif) 0 78px no-repeat;
	height: 400px;
}

#banner h1 {
	margin: 0;
	padding: 10px 0;
	background: #fff;
}

#banner h1 em {
	color: #f8f8f8;
	font-style: normal;
}

#links {
	width: 20%;
}

#presentations {
	width: 50%;
}

#posts {
	width: 25%;
}


/* Phones'ish */

@media only screen and (max-width: 480px) {

	#banner {
		height: auto;
		background: none;
	}

	#banner h1 {
		font-size: 1.5em;
	}

	section {
		float: none;
		width: auto !important;
	}

	h2, h3 {
		font-size: 1.25em;
	}

	li {
		line-height: 2em;
	}
}


/* Tablets'ish */
@media only screen and (max-width: 820px) {
	section {
		float: none;
		width: auto !important;
	}

	#banner h1 {
		padding-bottom: 30px;
		font-size: 2em;
	}
}
